width = 800
height = 600
term = "foot"

font = "Noto Sans Regular"
font_size = 24
bg_color = 0x181825FF
font_color = 0xCDD6F4FF

[input_text]
bg_color = 0x313244FF

[list_items]
selected_font_color = 0x94E2D5FF
match_color = 0x89B4FAFF
hide_actions = true

[icon]
size = 24
theme = "Numix-Circle"
fallback_icon_path = "/usr/share/icons/Numix-Circle/48/apps/application-default-icon.svg"
