root = true

[*]
charset = utf-8
indent_size = 2
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.go]
indent_style = tab
indent_size = 4

[*.{ini,py,py.tpl,rst}]
indent_size = 4

[*.rs]
indent_size = 4

[*.{cmd,bat,ps1}]
end_of_line = crlf
