"$schema" = "https://starship.rs/config-schema.json"

add_newline = true
palette = "catppuccin_mocha"

format = """
[](base bg:pink)\
$directory\
[](pink bg:#DABFEC)\
$git_branch\
[](#DABFEC bg:#BFBBF1)\
$git_status\
[](#BFBBF1 bg:#A4B8F5)\
$golang\
$nodejs\
$nim\
$rust\
$python\
$lua\
[](#A4B8F5 bg:blue)\
$time\
[](blue bg:none)\
$line_break\
$character
"""

[character]
format = "$symbol "
success_symbol = '[\$](bold green)'
error_symbol = '[\$](bold red)'
vimcmd_symbol = '[\$](bold blue)'
vimcmd_replace_one_symbol = '[\$](bold maroon)'
vimcmd_replace_symbol = '[\$](fg:maroon)'
vimcmd_visual_symbol = '[\$](fg:flamingo)'

[directory]
style = "base bg:pink"
format = "[ $path ]($style)"
truncation_length = 0

[git_branch]
symbol = ""
style = "base bg:#DABFEC"
format = '[ $symbol $branch ]($style)'

[git_status]
style = "base bg:#BFBBF1"
format = '[ $all_status$ahead_behind ]($style)'

[time]
disabled = false
style = "base bg:blue"
time_format = "%H:%M"
format = "[ $time ♥]($style)"

[golang]
symbol = " "
style = "base bg:#A4B8F5"
format = '[ $symbol ($version) ]($style)'

[nodejs]
symbol = ""
style = "base bg:#A4B8F5"
format = '[ $symbol ($version) ]($style)'

[nim]
symbol = " "
style = "base bg:#A4B8F5"
format = '[ $symbol ($version) ]($style)'

[rust]
symbol = ""
style = "base bg:#A4B8F5"
format = '[ $symbol ($version) ]($style)'

[python]
symbol = " "
style = "base bg:#A4B8F5"
format = '[ $symbol ($version) ]($style)'

[lua]
symbol = " "
style = "base bg:#A4B8F5"
format = '[ $symbol ($version) ]($style)'

{{ $starpath := ".local/share/starship" }}
{{ if stat (joinPath .chezmoi.homeDir $starpath "mocha.toml" ) }}
  {{ include (joinPath .chezmoi.homeDir $starpath "mocha.toml") }}
{{ end }}
{{ if stat (joinPath .chezmoi.homeDir $starpath "macchiato.toml" ) }}
  {{ include (joinPath .chezmoi.homeDir $starpath "macchiato.toml") }}
{{ end }}
{{ if stat (joinPath .chezmoi.homeDir $starpath "frappe.toml" ) }}
  {{ include (joinPath .chezmoi.homeDir $starpath "frappe.toml") }}
{{ end }}
{{ if stat (joinPath .chezmoi.homeDir $starpath "latte.toml" ) }}
  {{ include (joinPath .chezmoi.homeDir $starpath "latte.toml") }}
{{ end }}
